<div class="row no-margin-left no-margin-right" data-ng-controller="HeaderController" data-ng-show="authentication.user">
	<header>
        <nav class="navbar navbar-inverse navbar-static-top no-margin-bottom no-border" role="navigation">
            <div class="row no-margin-left no-margin-right">
                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 text-right no-padding-right">
                    <span>
                        <p></p>
                        <img src="modules/core/img/images/header/user_icon.png">
                        <select class="no-border header-drp-dwn">
                            <option selected="selected" data-ng-bind="authentication.user.displayName"></option>
                            <option>My Profile</option>
                            <option>Change Password</option>
                        </select>
                    </span>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 no-padding-left no-padding-right">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#!/"><img class="img-responsive"  src="modules/core/img/images/header/accenture_logo.png"></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <p class="hdr-lbl">Accenture Delivery Council</p>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li>
                                <a href="#!/">Home</a>
                            </li>
                            <li><a class="li-seperator">|</a></li>
                            <li>
                                <a href="#!/contact">Contact Us</a>
                            </li>
                            <li><a class="li-seperator">|</a></li>
                            <li>
                                <a href="/auth/signout">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <div class="col-md-12 col-sm-12 grey-hdr-bar" ></div>

            </div>
            <!-- /.container -->
        </nav>
    </header>
</div>