<section data-ng-controller="adminActionItemController" data-ng-init="findOne()" style="margin-top: 120px;">
    <div id="sidebar-wrapper" class="col-md-2 colsm-1">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a style="color: #fff;">
                    Manage Action Items
                </a>
            </li>
            <li>
                <a href="#!/newActionItem">New Action Item</a>
            </li>
            <li>
                <a href="#!/openActionItem">Open Items</a>
            </li>
            <li>
                <a href="#!/closedActionItem">Closed Items</a>
            </li>
        </ul>
    </div>

    <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1 no-padding-right">
            <h1>Edit Action Item</h1>
            <hr />

            <form name="actionForm" class="form-horizontal" data-ng-submit="update(actionForm.$valid)"  novalidate>
                    <fieldset>
                        <div class="form-group" ng-class="{'has-error': itemForm.title.$dirty && itemForm.title.$invalid }">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input name="title" type="text" data-ng-model="item.title" id="title" class="form-control" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date">Owner</label>
                            <div class="controls">
                                <input name="owner" type="text" data-ng-model="item.owner" id="owner" class="form-control" placeholder="Owner" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date">Status</label>
                            <div class="controls">
                                    <label>
                                        <input type="radio" name="status" value="open" ng-model="item.status" checked>
                                        Open
                                    </label>
                                    <label>
                                        <input type="radio" name="status" value="closed" ng-model="item.status">
                                        Closed
                                    </label>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: -20px;">
                            <label class="control-label" for="date">Raised Date</label>
                            <div class="controls">
                                <input name="raisedDate" type="date" data-ng-model="item.raisedDate" id="raisedDate" class="form-control" placeholder="Raised Date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date">Expected Closure Date</label>
                            <div class="controls">
                                <input name="expectedDate" type="date" data-ng-model="item.expectedDate" id="expectedDate" class="form-control" placeholder="Expected Closure Date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date">Actual Closure Date</label>
                            <div class="controls">
                                <input name="closerDate" type="date" data-ng-model="item.closerDate" id="closerDate" class="form-control" placeholder="Actual Closure Date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="content">Description</label>
                            <div class="controls">
                                <textarea name="description" data-ng-model="item.description" id="description" class="form-control" cols="30" rows="1" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
            </form>
    </div>
</section>