<section data-ng-controller="OverviewController" style="margin-top: 120px;">
    <div id="sidebar-wrapper" class="col-md-2 colsm-1">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a style="color: #fff;">
                    Overview
                </a>
            </li>
            <li>
                <a href="#" class="active">Introduction</a>
            </li>
            <li>
                <a href="#!/overview/members">Members</a>
            </li>
            <li>
                <a href="#!/overview/services">Services</a>
            </li>
            <li>
                <a href="#!/overview/newsletter">Newsletter</a>
            </li>
            <li>
                <a href="#!/overview/FAQ">FAQs</a>
            </li>
            <li>
                <a href="#!/overview/siteMap">Site Map</a>
            </li>
            <li>
                <a href="mailto:help-indiadeliverycouncil@accenture.com?Subject=Help">Help</a>
            </li>
        </ul>
    </div>

    <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1 no-padding-right">
            <h1>Introduction</h1>
            <p>Add introduction text</p>
    </div>
            
</section>