<section data-ng-controller="adminMeetingController" style="margin-top: 120px;">
    <div id="sidebar-wrapper" class="col-md-2 colsm-1">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a style="color: #fff;">
                    Manage Meeting
                </a>
            </li>
            <li>
                <a href="#" class="active">New Meeting</a>
            </li>
            <li>
                <a href="#!/showMeeting">Show Meetings</a>
            </li>
        </ul>
    </div>

    <div class="col-md-10 col-sm-10 col-md-offset-2 col-sm-offset-1 no-padding-right">
            <h1>New Meeting</h1>
            <hr />
            <div class="col-md-12">
                <form name="meetingForm" class="form-horizontal" data-ng-submit="create()" novalidate>
                    <fieldset>
                        <div class="form-group" ng-class="{'has-error': meetingForm.title.$dirty && meetingForm.title.$invalid }">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date">Date</label>
                            <div class="controls">
                                <input name="date" type="date" data-ng-model="date" id="date" class="form-control" placeholder="Date" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date">Time</label>
                            <div class="controls">
                                <input name="time" type="time" data-ng-model="time" id="time" class="form-control" placeholder="Time" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="date">Duration(Minutes)</label>
                            <div class="controls">
                                <input name="number" type="number" data-ng-model="duration" id="duration" class="form-control" placeholder="Duration" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="content">Description</label>
                            <div class="controls">
                                <textarea name="content" data-ng-model="content" id="content" class="form-control" cols="30" rows="2" placeholder="Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="content">Participants(csv)</label>
                            <div class="controls">
                                <input name="participant" type="text" data-ng-model="participant" id="participant" class="form-control" placeholder="Participant" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default">
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                </form>
            </div>
    </div>
</section>